<mat-form-field appearance="fill">
  <mat-label>Year</mat-label>
    <input matInput [(ngModel)]="year" placeholder="Year">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Timezone</mat-label>
  <input matInput [(ngModel)]="tz" placeholder="Timezone">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Latitude</mat-label>
  <input matInput [(ngModel)]="lat" placeholder="Timezone">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Longitude</mat-label>
  <input matInput [(ngModel)]="lng" placeholder="Timezone">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Method</mat-label>
  <mat-select [(value)]="method">
    <mat-option value="0">Hanafi (Shafaq General)</mat-option>
    <mat-option value="1">Hanafi (Shafaq Abyad)</mat-option>
    <mat-option value="2">Shafi'im Maliki, Hanbali</mat-option>
    <mat-option value="3">Jafari (Ithna Ashari)</mat-option>
  </mat-select>  
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Time format</mat-label>
  <mat-select [(value)]="format">
    <mat-option value="0">24 hours</mat-option>
    <mat-option value="1">12 hours</mat-option>
  </mat-select>  
</mat-form-field>
<section class="example-section">
  <mat-slide-toggle [checked]="both" (change)="onToggle()" >
    Print both Asr methods
  </mat-slide-toggle>
  <button mat-raised-button style="left: 10px" (click)="make(true)">Make Timetable</button>
</section>
<table mat-table [dataSource]="myDataArray">
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  <ng-container matColumnDef="day">
    <th mat-header-cell *matHeaderCellDef> Day </th>
    <td mat-cell *matCellDef="let times"> {{times.day}} </td>
  </ng-container>
  <ng-container matColumnDef="fajr">
    <th mat-header-cell *matHeaderCellDef> Fajr </th>
    <td mat-cell *matCellDef="let times"> {{times.times.fajr}} </td>
  </ng-container>
  <ng-container matColumnDef="sunrise">
    <th mat-header-cell *matHeaderCellDef> Sunrise </th>
    <td mat-cell *matCellDef="let times"> {{times.times.sunrise}} </td>
  </ng-container>
  <ng-container matColumnDef="dhuhr">
    <th mat-header-cell *matHeaderCellDef> Dhuhr </th>
    <td mat-cell *matCellDef="let times"> {{times.times.dhuhr}} </td>
  </ng-container>
  <ng-container matColumnDef="asr_s">
    <th mat-header-cell *matHeaderCellDef> Asr(s) </th>
    <td mat-cell *matCellDef="let times"> {{times.times.asr_s}} </td>
  </ng-container>
  <ng-container matColumnDef="asr_h">
    <th mat-header-cell *matHeaderCellDef> Asr(h) </th>
    <td mat-cell *matCellDef="let times"> {{times.times.asr_h}} </td>
  </ng-container>
  <ng-container matColumnDef="asr">
    <th mat-header-cell *matHeaderCellDef> Asr </th>
    <td mat-cell *matCellDef="let times"> {{times.times.asr}} </td>
  </ng-container>
  <ng-container matColumnDef="maghrib">
    <th mat-header-cell *matHeaderCellDef> Maghrib </th>
    <td mat-cell *matCellDef="let times"> {{times.times.maghrib}} </td>
  </ng-container>
  <ng-container matColumnDef="isha">
    <th mat-header-cell *matHeaderCellDef> Isha </th>
    <td mat-cell *matCellDef="let times"> {{times.times.isha}} </td>
  </ng-container>
</table>